.desktop-3 {
    align-items: flex-end;
    background-color: #ddd;
    display: flex;
    flex-direction: column ;
    height: 1024px;
    width: 1440px;
  }
  .hidden,
  .hidden * {
    pointer-events: none;
    visibility: hidden;
  }

.rectangle11{
background-color: black;
height: 70px;
margin-top: 37px;
width: 1440px;
}

.flexrow{
    align-items: flex-start;
    display: flex;
    height: 671px;
    margin-right:24px;
    margin-top:125px;
    min-width: 1195px;
}
.overlap-group-container-1{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left:179px;
    min-height: 671px;;
    width:208px;
}
.overlap-group1{
    height:317px;
    position: relative;
    width: 208px;
}
.cap-friendly{
    left: 3px;
    letter-spacing: 0;
    position: absolute;
    top: 40px;
    width:205px;

}
.rectangle-10{
    background-color: var(--alto);
    height:317px;
    left:0;
    position: absolute;
    top: 0;
    width:205px;
}
.hockey-sites{
    left:39px;
    letter-spacing: 0;
    position: absolute;
    top:0;
    width: 134px;
}
.rectangle-17{
    height: 40px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 205px;
}
.the-hockey-guy{
    left: -1px;
    letter-spacing:0 ;
    position: absolute;
    top:38px;
    width: 205px;
}
.rectangle-18{
    height: 40px;
    left:-1px;
    position: absolute;
    top: -1px;
    width: 205px;
}
.hockey-youtube{
    left:22px;
    letter-spacing: 0;
    position:absolute;
    top:-1px;
    width:166px;
}
.flex-col{
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    min-height: 622px;
    width: 808px;
}
.overlap-group3 {
    height: 297px;
    position: relative;
    width: 808px;
}
.avalanche-win-3rd{
    left:19px;
    letter-spacing: 0;
    position: absolute;
    top:242px;
    width:789px;
}
.rectangle-21{
    background-color: var(--alto);
    height: 42px;
    left:1px;
    position: absolute;
    top:238px;
    width: 764px;
}
.overlap-group-container{
    align-items: flex-start;
    display: flex;
    min-width: 764px;
}
.overlap-group4{
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    height: 38px;
    margin-left:103px;
    padding:1px 27px;

}
.free-agency-signings{
    letter-spacing: 0px;
    min-height: 35px;
    width: 268px;

}
.overlap-group2{
    height: 38px;
    position: relative;
    width:337px;
}
.trade-rumours{
left:69px;
letter-spacing: 0;
position:absolute;
top:0;
width: 324px;
}
flex-row-1{
    align-items: flex-start;
    display: flex;
    margin-top: 125px;
    min-width: 764px;
}
.rectangle-12{
    background-color: white;
    height: 162px;
    margin-left:116px;
    width: 324px;
}
.rectangle-13{
    background-color: white;
    height:162px;
    margin-left: 116px;
    width:324px;
}
.group-1{
    height: 122px;
    margin-top: -1px;
    width:1440px;
}



